/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "http://fonts.googleapis.com/css?family=Lato:100,300,400";
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

$emerald: #2ecc71;
$peter-river: #3498db;

a {
  text-decoration: none;
}

p a {
  border-bottom: 2px solid $peter-river;
}

body {
  padding: 30px 20px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  text-align: center;
  padding: 5px;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

h1#name {
  font-size: 36px;
}

p {
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

pre {
  max-width: 600px;
  padding: 15px;
  margin: 20px auto;
  border-left: 4px solid $emerald;
  font-style: italic;
}

footer {
  > a {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.right {
  text-align: right;
}

.markdown {
  padding-top: 30px;
}

#wrapper {
  min-height: 800px;
  width: 800px;
  margin: auto;

  > ul {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.pull-right {
  float: right;
}

img {
  margin: 10px auto;
  padding: 10px;
  display: block;
}
